table {
  width: 100%;
  margin-left: 0px; 
  text-align: left;
  min-width: 900px;

  margin: 0;
}

mat-paginator {
  width: 100%;
  margin-left: 0px; 
  min-height: 2em;
  padding-bottom: 2em;
  text-align: center;
}