<!--
<mat-sidenav-container class="">
  <mat-sidenav #sidenav [mode]="side" opened class="">
    <button mat-button (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <app-add-issue></app-add-issue>
  </mat-sidenav>

  <mat-sidenav-content class="side-bar-content">
    <p><button mat-button (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
      </button></p>
    <p style="text-align:center">
      The content goes here
      <app-read-issuedata></app-read-issuedata>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
-->

<mat-grid-list cols="5" rowHeight="550px" >
  <mat-grid-tile style="padding-top:35px" [rowspan]="1">
    <app-add-issue></app-add-issue>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" class="my-grid-tile">
    <app-read-issuedata></app-read-issuedata>
  </mat-grid-tile>

</mat-grid-list>